name: Build-new

on:
  workflow_dispatch:

jobs:
  Android:
    name: Android
    runs-on: ubuntu-latest
    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Setup Env
        uses: ./.github/actions/setup

      - name: Configure TVBoxOSC Signing
        run: |
          cd android
          ls -l app/TVBoxOSC.jks
          cat <<'EOF' >> gradle.properties
          FONGMIBOX_STORE_FILE=../app/TVBoxOSC.jks
          FONGMIBOX_KEY_ALIAS=TVBoxOSC
          FONGMIBOX_STORE_PASSWORD=TVBoxOSC
          FONGMIBOX_KEY_PASSWORD=TVBoxOSC
          EOF

      - name: Build Packages
        run: |
          cd android
          chmod +x ./gradlew
          ./gradlew clean assembleRelease --parallel --daemon --warning-mode all

      - name: Generate file MD5
        run: |
          cd android/app/build/outputs/apk/release
          md5sum *.apk

      - name: Upload Artifact
        uses: ./.github/actions/upload-artifact
        with:
          # 设置产物保留期为 1 天，确保只占用极少空间
          retention-days: 1

  Release:
    name: Release
    runs-on: ubuntu-latest
    needs: [Android]
    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
          merge-multiple: true

      - name: Generate file MD5
        run: |
          mkdir -p ./publish
          echo -e '\n### File MD5\n```' >> ./publish/changeLog.md
          cd artifacts
          md5sum *.apk >> ../publish/changeLog.md
          echo -e '```\n' >> ../publish/changeLog.md

      # 关键步骤：在发布新版前，先删除旧的同名 Tag 或 Release 
      # 这样可以确保 Release 页面永远只看到最后一次运行的结果
      - name: Delete Old Release
        uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          delete_release: true
          tag_name: latest-build # 使用固定标签
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ./publish/changeLog.md
          prerelease: false
          draft: false
          tag_name: latest-build # 使用固定的 tag，每次都会覆盖
          name: "Latest Build"
          files: |
            artifacts/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
